@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: : border-box;
	font-family: 'Montserrat', sans-serif;
}



h1 {
	margin-bottom: 10px;
	text-align: center;
	font-weight: normal;
	font-size: 32px;
}

.row {
	width: 100%;
}

p
{   
	clear: right;
	margin-left: auto;
	margin-right: auto;
}

div.section {
	border: 1px solid black;
	background-color: #E5E0DC;
	color: #111111;
	text-align: left;
	font-size: 16px;
    margin-top: 36px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 10px;
}

div.section > h2 {
	outline: 1px solid black;
	width: 33%;
	height: 36px;
	float: right;
	text-align: center;
	line-height: 36px;
	font-size: 20px;
	margin-top: 0px;
	color: #111111;
 }

 h2.chicken {
 	background-color: #FFCAD4;
 }

 h2.pizza {
 	background-color: #F1CCAC;
 }

 h2.sushi {
 	background-color: #ADC8C5;
 }


@media (min-width: 992px)
{
	.col-lg-4 { 

		float: left;
		width: 33.33%;
	}
} 

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-12 , .col-md-6 {float: left;}
	.col-md-12 { 

		 width: 100%;
	}

	.col-md-6 { 

		width: 50%;
	}

}

@media (max-width: 767px)
{
	.col-sm-12 , {

		float: left;
		width: 100%;
	}

}
